---
import TagLink from "../components/TagLink.astro";
import { buildUrl } from "../utilities/urlBuilder";

const { title, description, date, heroImage, heroImageAlt, tags } =
  Astro.props.post.frontmatter;
const url = buildUrl(Astro.props.post);
---

<article
  class="flex flex-col border-2 border-slate-400 bg-slate-50 hover:border-slate-800 my-4 max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl mx-auto px-4 py-4 sm:px-8 md:px-12 text-sm sm:text-base leading-8 sm:leading-7 transition-all"
>
  <!-- Article Image -->
  {
    heroImage && (
      <a href={url}>
        <img src={heroImage} alt={heroImageAlt} />
      </a>
    )
  }
  <div class="flex flex-col justify-start p-6">
    <a href={url} class="text-2xl font-bold transition-all pb-4">{title}</a>
    <p class="text-sm pb-1">{date}</p>
    <ul class="flex gap-2 pb-3">
      {
        tags &&
          tags.map((tag: any) => (
            <li>
              <TagLink {tag} />
            </li>
          ))
      }
    </ul>
    <a href={url} class="pb-6">{description}</a>
    <a href={url} class="uppercase">
      Continue Reading
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 inline"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
      </svg>
    </a>
  </div>
</article>
