---
import ProseLayout from "../../../../layouts/ProseLayout.astro";
import TagLink from "../../../../components/TagLink.astro";
import { buildUrlParts } from "../../../../utilities/urlBuilder";

interface Frontmatter {
  title: string;
  date: string;
}

export async function getStaticPaths() {
  const posts = (await Astro.glob<Frontmatter>("../../../../blog/*.md"))
    .sort(
      (a, b) =>
        new Date(b.frontmatter.date).valueOf() -
        new Date(a.frontmatter.date).valueOf()
    )
    .map((post) => {
      return {
        ...post,
        ...buildUrlParts(post),
      };
    });
  return posts.map((post) => ({
    params: {
      slug: post.slug,
      year: post.year,
      month: post.month,
      day: post.day,
    },
    props: { post },
  }));
}

const { Content } = Astro.props.post;
const { title, date, heroImage, heroImageAlt, tags } =
  Astro.props.post.frontmatter;
---

<ProseLayout title={title}>
  <article
    class="prose max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl mx-auto px-4 py-4 sm:px-8 md:px-12 text-sm sm:text-base leading-8 sm:leading-7 transition-all"
  >
    <section class="mb-8 text-center">
      {
        heroImage && (
          <img
            class="object-cover mx-auto"
            src={heroImage}
            alt={heroImageAlt}
          />
        )
      }
      <h1 class="mt-4 text-2xl sm:text-4xl font-bold transition-all">
        {title}
      </h1>
      <p class="m-0">{date}</p>
      <ul class="not-prose flex gap-2 list-none justify-center pl-0">
        {
          tags &&
            tags.map((tag: any) => (
              <li>
                <TagLink {tag} />
              </li>
            ))
        }
      </ul>
    </section>
    <Content />
  </article>
</ProseLayout>
